@font-face {
    font-family: "GilroyMedium";
    src: url("../denisnovik/fonts/GilroyMedium.eot");
    src: url("../denisnovik/fonts/GilroyMedium.eot")format("embedded-opentype"),
    url("../denisnovik/fonts/GilroyMedium.woff") format("woff"),
    url("../denisnovik/fonts/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "GilroyBold";
    src: url("../denisnovik/fonts/GilroyBold.eot");
    src: url("../denisnovik/fonts/GilroyBold.eot")format("embedded-opentype"),
    url("../denisnovik/fonts/GilroyBold.woff") format("woff"),
    url("../denisnovik/fonts/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: 'GilroyMedium', Tahoma;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: 500;
    margin: 0 auto;
    width: auto;
    max-width: 1445px;  
}

h1,h2,h3,h4,h5,h6 {
    font-family: "GilroyBold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
}

/* -==================Header================- */
.header__navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 33px;
  align-items: center;
  
}

.header__navigation a {
  font-family: 'GilroyBold', Tahoma;
  font-size: 18px;
  line-height: 22px;
  width: 940px;
  color: #828282;
}

.header__navigation_active a {
  color: #070707;
}

.navigation a:hover {
  border-bottom: 1px solid #070707;
  color: #070707;
}

.header__navigation__line {  
  margin-top: 20px;
}

.header__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}

.header__title_dennov{
  width: 200px;
  font-size: 44px;
  line-height: 3rem;
  color: #070707;
}

.header__title b {
  color: #070707;
}

.header__ruen {
  font-family: 'GilroyBold', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #828282;

  transform: rotate(-90deg);
  margin-bottom: 25px;
}

/* -=============Slider===================- */
.slide__img {
  margin-top: 30px;
  
  width: 100%;
  height: auto;
}

/* -============Block__First==================- */

.block_first {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 506px;
  background: #F6F6F6;
}

.block_first__about {
  color: #070707;
  text-align: center;
  
}

.block_first__about h3 {
  margin-bottom: 40px;
  line-height: 42px;
}

.block_first__about p {
  padding-bottom: 50px;
  width: 490px;

}

/* -=========Block__Second=======- */
.second {
  text-align: center;
  margin-top: 50px;
  
}

.second__sub {
   padding-top: 50px;
}

.slide__image {
   background: radial-gradient(76% 75.63% at 32.97% 22.44%, rgba(66, 51, 37, 0.98) 0%, #1C0A00 100%); 
}

.text__pad {
  padding-top: 20px;
  
}
.slide__star {
  margin-top: 3em;
}

#card-slider-list {
  display: flex;
  align-items: flex-start;
  
  margin: 50px 50px !important; 
}

.slide__star2 {
  margin-top: 2em;
}

.slide__size {
  height: 90px;
  width: 90px;
}

/* -============Block Portfolio=============- */
.portfolio {
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #F6F6F6;
  margin-top: 50px;
  height: 2255px;
}

.portfolio h2 {
  margin-top: 60px;
}

.portfolio a {
  margin-top: 50px;
  font-family: 'GilroyMedium', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;

  color: #070707;
}

.portfolio__image {
  display: flex;
  justify-content: center;
  margin-top: 70px;

}

/* -=============Footer==========- */
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 70px 0 70px 0;
}

.contacts__know {
  padding: 30px 30px;
}

.contacts__button {
  margin: 30px 30px;
  border-radius: 20px;
  height: 40px;
  width: 180px;
  background: #070707;
  font-family: 'GilroyBold', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

.contacts__soc_icons {
  padding: 20px 50px 50px 20px;
  filter: drop-shadow(6px 6px 4px rgba(124, 124, 124, 0.527));
  
}

.contacts__par {
  font-family: 'GilroyMedium', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
.header__burger_button,
#card-slider-mobile {
  display: none;
}

@media (max-width: 767px) {
  .header__navigation a,
  .header__navigation__line,
  .header__ruen,
  #card-slider {
    display: none;
  }

  body {
    margin: 0 auto;
    width: auto;
    max-width: 767px;  
}
  .header {
    padding: 20px 30px 30px 10px;
  }
  .header__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  .header__title_dennov {
    padding-bottom: 20px;
  }
  .header__burger_menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  /* -===========Menu==============- */
  .header__burger_button {
    display: block;
    height: 4px;
    width: 35px;
    background: #000000;
    top: 25px;
    position: relative;

  }
  
  .header__burger_button::before,
  .header__burger_button::after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 35px;
    background: #000000;
    margin-top: 7px;
    left: -0.1rem;
    
  }
  .header__burger_button::after {
    content: "";
    margin-top: 15px;
  }

  /* -================Slider=============- */
  .slide__img {
    height: 478px;
    object-fit: cover;
  }
  #card-slider-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px 50px !important; 
    text-align: center;
  }
  .slide__star,
  .slide__star2 {
    margin-bottom: 30px;
  }
  .portfolio img{
    display: flex;
    
    margin-top: 30px;
    height: auto;
    min-width: 484px;
  
  }



}